/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway';
}

.navbar {
	opacity: 0.9;
	font-family: 'Raleway';
	color: #004964 !important;
	font-weight: 40;
	font-size: 1.5rem;
	background-color: darkgoldenrod;
}

.navbar > a {
	font-family: 'Pacifico';
	color: #004964 !important;
	font-weight: 40;
	margin-left: 1.5rem;
	font-size: 1.5rem;
}

.nav-item {
	font-weight: 30;
	font-size: 1.15rem;
}

body {
	font-family: 'Caveat', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Raleway', sans-serif;
}

#landing {
	background-color: #b4e2f1;
	background-image: url("./images/backgroundimage2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.content h3 {
	font-family: 'Pacifico';
	color: #b4e2f1;
}

.content p {
	font-family: 'Raleway';
	font-weight: 10;
	color: #b4e2f1;
}

#projects {
	background-color: darkgoldenrod;
}
#projects h2 {
	font-family:'Pacifico';
	font-weight: 25;
	font-size: 3rem;
	color: white;
}

#tools	{
	background-image: url("./images/backgroundimage2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

}

#tools h2 {
	font-family:'Pacifico';
	font-weight: 25;
	font-size: 3rem;
	color: white;
}

#tools h3 {
	font-family:'Raleway';
	font-weight: 25;
	font-size: 2rem;
	color: white;
}

#contact h2 {
	font-family:'Pacifico';
	font-weight: 25;
	font-size: 3rem;
	color: white;
}

.card_capstone {
	background-color: #004964;
	border-radius: 20px;
	overflow: hidden;
	border: 8px solid darkgoldenrod;
	position: relative;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
}

.card_capstone > img {
	opacity: 1.0;
}

.card_landing {
	background-color: #004964;
	background-position: center;
	width: 320px;
	height: 420px;
	border-radius: 20px;
	overflow: hidden;
	border: 8px solid darkgoldenrod;
	position: relative;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
}

.Melinda-img {
	width: 70%;
	height: 70%;
	object-fit: contain;
	object-position: center;
	border: 5px double darkgoldenrod;
	border-radius: 75%;
}

#projects {
	background-image: url("./images/backgroundimage2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.footer {
	font-family:'Raleway';
	font-weight: 25;
	font-size: 1rem;
	color: white;
	background-image: url("./images/backgroundimage2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

